                                /* Site-wide Styles */

html,
body {
	margin:0;
	padding:0;
	height:100%;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	text-decoration: none;
}  

/* body {
  background: #80E6FF;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #002933;
  padding: none;
  margin: none;
  border: none;
  font-size: 16px;
  width: inherit;
}

nav li{
  color: #BBBBFF;
  display: inline;
  margin: 0 5px;
  text-align: center;
}

nav{
  margin: 0 auto;
  width: 400px;
}

footer {
  color: #667711;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  position: relative;
  bottom: 5px;
}

footer p {
text-align: center;
  
}

article {
  background: #99EBFF;
  box-shadow: 0 1px 4px #006680;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

article h2 {
  text-align: center;
}

a {
  text-decoration: none;
  background: #DDDDDD;
  border-radius: 10px;
  padding: 10px;
  font-family: sans-serif;
}

a:hover {
  color: #FFF;
}

*/

                              /* Landing (Index) Page */
                              
 .landing {
  background-color: #000;
 }                           
                              
 #wrapper{
 position:relative;
  z-index: 2;
}

.background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  
  background: #80E6FF url("backgrounds/nybg.jpeg") no-repeat top center;
  opacity: 0.5;
  overflow: hidden;
  background-size: 100%; 
  min-height:100%;
}


#header {
  padding-left: 10px;
  text-align: center;
  position: relative;
  top: 225px;
}

.landing h1 {
  font-size: 6.25em; /* 100 / 16 */
  font-family: 'Abril Fatface', cursive;
  color: #FFF;
} 

.landing a {
  background-color: rgba(255,255,255, 0.5); 
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  width: 10%;
  margin: 0 auto;
  display: block;
  padding: 5px 0;
  text-decoration: none;
}

.landing a:hover {
  background-color: rgba(200,200,200, 0.5);
  color: #FFF;
}

.landing a:visited {
  color: #000;
}



                               /* Home (Main) Page */



                              /* About Me Page */
.aboutme article {
  width: 45%;
}
/*.aboutme article:first-child{
  float: left;
}*/

.aboutme article:nth-child(2n) {
  background: #FFF;
  float: right;
}

.aboutme article:nth-child(2n+1) {
  float: left;
}