body {
  background: #222222;
  margin: 25px;
}
header {
  color: #aaddee;
  border: 2px dashed #DDDDDD;
  text-align: center;
}
nav ul li{
  color: #BBBBFF;
  display: inline;
}
footer {
  color: #FFFFFF;
  font-family: Helvetica, sans-serif;
}